<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <!-- Create your text area form here -->
    <form method = "post">
    <textarea rows = "5" cols = "50" name = "description">
        Enter comma seperated movies
     </textarea> <br>
     <button type = "submit"> send </button>
    </form>
</body>

</html>