<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>
     
    <h1><%= movie_lst[0] %></span>
    <p> <%= movie_lst[1] %></p>
    <a href = "index.ejs"> main page</a>
   
</body>

</html>